body {
    background-color: #000000;
}
#header {
    margin:0 auto;
    background-color: rgb(69, 0, 2);
    min-height: 100px;
    width: 70%;
    opacity:1
}
.tree
{
    position: absolute;
    z-index: 1;
    left: 15%;
    font-size: 75px;
    text-decoration: none;
}
.headtype {
    color: rgb(255, 0, 0);
    position: absolute;
    left:710px;
    top: 10px;
}
h1 {
    color:rgb(0, 48, 20);
    text-align: center; 
}